.caja-principal {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.caja1 {
    grid-column: 3/4;
    grid-row: 3/4;
    background-color: blueviolet;
    height: 100px;
    

}
.caja1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.caja2{
    grid-column: 4/4;
    grid-row: 4/4;
    background-color: yellow;
    

}